<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <header class="d-flex justify-content-center">
                <h2>{{ title }}</h2>
            </header>
        </div>
    </div>
</div>
<main class="{{ classes }}">