<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <section class="carousel carousel_1">
                <div class="owl-carousel owl-theme">
                    {% for item in items %}
                        {% include 'blocks/cart-preview/cart1.twig' %}
                    {% endfor %}

                </div>
            </section>
        </div>
    </div>
</div>
