</main>

<footer class="d-flex justify-content-center">
    <img src="{{ public_dir() }}/images/logo.png" alt="logo">
</footer>



{% include 'blocks/base/modal.twig' %}



{{ wp_footer() }}
</body>

</html>